*.jl.cov
*.jl.*.cov
*.jl.mem
.DS_Store
.ipynb_checkpoints
biona001@hoffman2.idre.ucla.edu

# don't track real data
AFRped_geno.txt
GBR_data.csv

# don't track simulations 
test/*.gz
simulation/*/*.gz
simulation/*/*.vcf
simulation/*/*.jlso
simulation/*.gz
test/*.vcf
test/*.vcf.gz

# example data only track target genotype, reference haplotype, and true genotypes
data/full.vcf
data/target.typedOnly.vcf.gz
data/uniqueSNPs.vcf.gz

# don't track real data 
data/1000_genome_phase3_v5/*/*.gz
data/1000_genome_phase3_v5/*/*.jlso
data/HRC/*.gz
data/HRC/*.jlso
docs/src/man/*.gz
docs/src/man/*.jlso
*.m3vcf
*.m3vcf.gz
*.info
*.log
*.jar
*eagle
*.tbi
*.jld2
*.bson
*.h5
*.bref3
*.pvals

