*.jl.cov
*.jl.*.cov
*.jl.mem
.DS_Store
.ipynb_checkpoints
biona001@hoffman2.idre.ucla.edu
*.sample.error

# don't track simulations 
test/*.gz
simulation/*/*.gz
simulation/*/*.vcf
simulation/*/*.jlso
simulation/*.gz
test/*.vcf
test/*.vcf.gz

# aux files from manuscript
manuscript/sec3.3/*.summary
manuscript/sec3.3/*.Q
manuscript/sec3.3/*.P
manuscript/sec3.3/*.bim
manuscript/sec3.3/*.bed
manuscript/sec3.3/*.fam

# example data only track target genotype, reference haplotype, and true genotypes
data/full.vcf
data/target.typedOnly.vcf.gz
data/uniqueSNPs.vcf.gz
data/imputed.vcf.gz
data/imputed.sample.error
data/ref.excludeTarget.jlso
data/imputed.jlso

# don't track real data
AFRped_geno.txt
GBR_data.csv
data/1000_genome_phase3_v5/*/*.gz
data/1000_genome_phase3_v5/*/*.jlso
data/1000_genome_phase3_v5/*/*.png
data/1000_genome_phase3_v5/*/*.maf
data/1000_genome_phase3_v5/*/*.bed
data/HRC/*.gz
data/HRC/*.jlso
data/omni_chips
docs/src/man/*.gz
docs/src/man/*.jlso
*.m3vcf
*.m3vcf.gz
*.info
*.log
*.jar
*eagle
*.tbi
*.jld2
*.bson
*.h5
*.bref3
*.pvals


data/1000_genome_phase3_v5/filtered/error.png
data/1000_genome_phase3_v5/filtered/mendel.chr20.imputed.sample.error
data/HRC/snpscores.txt
data/HRC/mendel.chr10.imputed.target.sample.error
data/ukbb
